<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuanSampah"
        tools:targetApi="tiramisu">

        <activity
            android:name=".view.market.seller.ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".view.camera.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".view.camera.WasteInformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.market.seller.SuccessConfirmationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZjzW5Kab_AsR3m66tCyWJIJ54Yckzsxc" />

        <activity
            android:name=".view.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.market.order.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.market.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.market.order.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.ItemSliderActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>